

.btn-group .button {
    background-color: #1cc5f0dc; /* Green */
    border: 1px solid rgb(182, 198, 241);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    display: block;
  }
  
  .btn-group .button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  .btn-group .button:hover {
    background-color: #2277e6;
  }