table{

    border-collapse: collapse;
    width: 100%;
  }
  
   td {
    text-align: left;
    padding: 8px;

   }

    th {
      background-color: #e4eef0;
      color: black

   }

h1{

    color:rgb(114, 121, 131);
   

}
