.category{
    opacity: 0.85;
    text-align: center;
}
.category:hover{
    opacity: 2;
}
#items{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    grid-template-rows: 210px 210px;
}
#slideShow{
    width: auto;
    height: 300px;
    background-color: grey;
    color: white;
}
.topBar{
    display: grid;
    background-color: #4885ED;
    height: 180px;
    width: 100%;
    grid-template-columns: 300px auto 250px;
}